 {% comment %} </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce2" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Buxoro viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce2">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce3" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Fargʻona viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce3">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce4" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Jizzax viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce4">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce5" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Xorazm viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce5">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                  <li class="menu-item">
                                    <a href="#menuEcommerce6" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Andijon viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce6">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce7" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Buxoro viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce7">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce8" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Fargʻona viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce8">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce9" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Jizzax viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce9">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce10" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Xorazm viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce10">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce11" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Buxoro viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce11">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce12" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Fargʻona viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce12">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce13" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Jizzax viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce4">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#menuEcommerce14" data-bs-toggle="collapse" class="menu-link">
                                        
                                        <span class="menu-text"> Surxondaryo viloyati </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="menuEcommerce14">
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Buxoro tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Fargʻona tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Jizzax tuman</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="./tuman.html" class="menu-link">
                                                    <span class="menu-text">Xorazm tuman</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>